.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid rgb(211, 115, 36);
    border-radius: 10px;
    height: 90%;
    width: 85%;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
      height: 100%;
    }
  
    .container {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .container {
      width: 60%;
    }
  }