.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
    height: 10%;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 31px;
    width: 80%;
    height: 10px;
    font-size: 120%;
  }

  
  .sendButton {
    color: #fff !important;
    background: rgb(211, 115, 36);
    padding: 10px;
    display: inline-block;
    border: none;
    width: 20%;
  }