/* GENERAL CLASSES */
body {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Roboto', sans-serif;
    background-color:rgb(250, 210, 173);
    color: black;
  } 

.margin {
  margin-top: 12px;
}

.main {
  font-family: 'PT Serif', serif;
}

.upper-margin {
  margin-top: 100px;
}

.expand {
  transition: all 0.3s ease-in-out;
}

.expand:hover {
  transform: scale(1.10);
  cursor: pointer;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.center-text {
  text-align: center;
}

.one {
  margin-right: 8px;
}

.move-right {
  float: right;
}

.btn {
    margin: 10px 8px;
    background-color: rgb(211, 115, 36);
}

.btn-select {
  background-color: #000000;
}

.btn:hover {
  background-color: rgb(194, 105, 32);
}

/* INPUT TAGS */

input {
  padding: 6px 6px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 0 #000000;
}

input[type="password"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #000000;
}

input[type="email"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #000000;
}

textarea {
  padding: 10px 10px;
  width: 324px;
}
  
/* ENTRY HEADING */
  .heading {
    text-align: center;
    margin-top: 200px;
  }

/*NAVIGATION BAR*/
.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  margin: 0px 30px;
  font-size: 20px;
  text-decoration: none;
}

.nav-item:hover {
  background-color: rgb(211, 115, 36);
}

.nav-item-active {
  background-color: rgb(211, 115, 36);
}

.navbar a {
  color: white !important;
}

.navbar h3:hover {
  text-decoration: none;
}

/* POSTS DESIGNING */
  .post-title{
    color: #fff;
    background-color: rgb(134, 63, 5);
    padding: 5px 15px;
    border-radius: 10px 10px 0 0;
  }

  .post-content {
    background-color: rgb(235, 200, 167);
    padding: 5px 25px;
  }

  .post-info {
    background-color: rgb(192, 123, 90);
    padding: 8px 25px;
    border-radius: 0 0 10px 10px;
  }

  .post {
    margin-top: 25px;
    margin-bottom: 25px;
  }

   /* INPUT IMAGE DESIGNING */
  .row {
    display: block;
    text-align: center;
  }

  .drop-zone {
    padding: 30px 0;
    cursor: pointer;
  }

  .preview {
    margin: 0 auto;
    width: 300px;
  } 

  .image-preview {
    width: 100%;
  }

  /* REACTIONS PAGE DESIGNING */
  .user {
    border: 1px solid brown;
    text-align: left;
    background-color: rgb(212, 143, 86);
    font-size: larger;
  }

  .post span:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  