/* GENERAL CLASSES */
html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:rgb(250, 210, 173);
    color: black;
    margin: 0;
    padding: 0;
} 

.space {
  margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:10px;
    padding: 50px 10px;
    font-size: larger;
}

.margin {
  margin-top: 12px;
}

.main {
  font-family: 'PT Serif', serif;
}

.upper-margin {
  margin-top: 100px;
}

.expand {
  transition: all 0.3s ease-in-out;
}

.expand:hover {
  transform: scale(1.10);
  cursor: pointer;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.center-text {
  text-align: center;
}

.one {
  margin-right: 8px;
}

.move-right {
  float: right;
}

.btn {
    color: white;
    margin: 10px 8px;
    background-color: rgb(211, 115, 36);
}

.btn-select {
  background-color: #000000;
}

.btn:hover {
  background-color: rgb(194, 105, 32);
  color: #fff;
}

.about p {
  font-size: larger;
}

/* INPUT TAGS */

input {
  padding: 6px 6px;
}

.width {
  width: 45%;
}

.dropdown {
  margin-bottom: 30px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 #000000;
}

input[type="password"]:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 #000000;
}

input[type="email"]:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 #000000;
}

textarea {
  padding: 10px 10px;
  width: 70%;
}
  
/* ENTRY HEADING */
  .heading {
    text-align: center;
    margin-top: 200px;
  }

/*NAVIGATION BAR*/
.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  margin: 0px 30px;
  font-size: 20px;
  text-decoration: none;
}

.col-6 {
  border: 2px solid red;
}

.nav-item:hover {
  background-color: rgb(211, 115, 36);
  cursor: pointer;
}

.nav-item-active {
  background-color: rgb(211, 115, 36);
}

.navbar a {
  color: white !important;
}

.navbar h3:hover {
  text-decoration: none;
}

.profile {
  cursor: pointer;
}

/* POSTS DESIGNING */

  .author:hover {
    cursor: pointer;
  }

  .author {
    text-decoration: underline;
    display: inline-block;
  }

  .post-title {
    color: #fff;
    background-color: rgb(134, 63, 5);
    padding: 5px 15px;
    border-radius: 10px 10px 0 0;
    border: 2px solid black;
    border-bottom: none;
  }

  .post-content {
    background-color: rgb(235, 200, 167);
    padding: 5px 25px;
    font-size: larger;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  .post-info {
    background-color: rgb(192, 123, 90);
    padding: 5px 25px;
    border-radius: 0 0 10px 10px;
    border: 2px solid black;
    border-top: none;
  }

  .post-info input {
    border-radius: 5px;
  }

  .comment {
    margin: 5px 0;
    text-decoration: underline;
    cursor: pointer;
  }

  .comment a {
    display: inline-block;
    color: #000000;
    text-decoration: underline;
  }

  .comment-name {
    background-color: rgb(192, 123, 90);
    padding: 5px 10px;
    height: 80px;
    border-radius: 10px 10px 0 0;
    border: 2px solid black;
    border-bottom: none;
  }

  .comment-name .name {
    font-size: x-large;
  }

  .comment-content {
    background-color: rgb(235, 200, 167);
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    font-size: large;
    border: 2px solid black;
    border-top: none;
  }

  .post-info input {
    border: 2px solid black;
    width: 100%;
    height: 30px;
  }

  .post {
    margin-top: 25px;
  }

  .post-options {
    width: 60px;
    border-radius: 0 0 3px 3px;
    border: 1px solid black;
    border-top: none;
    margin: 0 auto;
    background-color: rgb(192, 123, 90);
  }

  .post-image {
    width: 280px;
    margin-bottom: 20px;
    border: 3px solid rgb(134, 63, 5);
    border-radius: 5px;
  }

  .preview {
    margin-top: 20px;
    width: 280px;
    border: 3px solid rgb(134, 63, 5);
    border-radius: 5px;
  }

  .upload {
    margin-left: 540px;
  }

  .comment-options {
    width: 28px;
    border-radius: 0 0 3px 3px;
    border: 1px solid black;
    border-top: none;
    margin: 0 auto;
    background-color: rgb(192, 123, 90);
  }

   /* INPUT IMAGE DESIGNING */
  .row {
    display: block;
    text-align: center;
  }

  .drop-zone {
    padding: 30px 0;
    cursor: pointer;
  }


  .preview {
    margin: 0 auto;
    width: 300px;
  } 

  .image-preview {
    width: 100%;
  }

  /* REACTIONS PAGE DESIGNING */
  .user {
    border: 1px solid brown;
    text-align: left;
    background-color: rgb(212, 143, 86);
    font-size: larger;
  }

  .post span:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .all a {
    display: inline-block;
    text-decoration: underline;
    color: #000000;
  }

  .allbtn {
    color: black;
  }
  .allbtn:hover {
    color: black; 
  }

  .send {
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
    color: brown;
  }